<div class="rx-paginate">
  <div class="pagination" layout="row" layout-wrap layout-align="justify top">
    <div flex="50" flex-order="2" flex-gt-md="20" flex-order-gt-md="1" flex-gt-lg="35" layout="row">
      <a class="back-to-top" tabindex="0" ng-click="scrollToTop()">Back to top</a>
      <div hide show-gt-lg>Showing {{ pageTracking | PaginatedItemsSummary}} items</div>
    </div>
    <div flex="100" flex-order="1" flex-gt-md="40" flex-order-gt-md="2" flex-gt-lg="35">
      <div class="page-links" layout="row" layout-align="center">
        <div ng-class="{disabled: pageTracking.isFirstPage()}" class="pagination-first">
          <a hide show-gt-lg ng-click="goToFirstPage()" ng-hide="pageTracking.isFirstPage()">First</a>
        </div>
        <div ng-class="{disabled: pageTracking.isFirstPage()}" class="pagination-prev">
          <a ng-click="goToPrevPage()" ng-hide="pageTracking.isFirstPage()">« Prev</a>
        </div>

        <div ng-repeat="n in pageTracking | Page" ng-class="{active: pageTracking.isPage(n), 'page-number-last': pageTracking.isPageNTheLastPage(n)}" class="pagination-page">
          <a ng-click="goToPage(n)">{{n + 1}}</a>
        </div>

        <div ng-class="{disabled: pageTracking.isLastPage() || pageTracking.isEmpty()}" class="pagination-next">
          <a ng-click="goToNextPage()" ng-hide="pageTracking.isLastPage() || pageTracking.isEmpty()"> Next »</a>
        </div>
        <div ng-class="{disabled: pageTracking.isLastPage()}" class="pagination-last">
          <a hide show-gt-lg ng-click="goToLastPage()" ng-hide="pageTracking.isLastPage()">Last</a>
        </div>
      </div>
    </div>
    <div flex="50" flex-order="3" flex-gt-md="40" flex-order-gt-md="3" flex-gt-lg="30">
      <div class="pagination-per-page" layout="row" layout-align="right">
        <div>
          Show
        </div>
        <div ng-repeat="i in pageTracking.itemSizeList">
          <button ng-disabled="pageTracking.isItemsPerPage(i)" ng-click="pageTracking.setItemsPerPage(i)">{{ i }}</button>
        </div>
      </div>
   </div>
  </div>

</div>
