<rx-page title="'Flexbox Grid'">

  <p>
    Encore UI includes a grid system forked from
    <a href="https://material.angularjs.org/#/layout/container">Angular Material's layout module</a>
    with minor usability enhancements to provide an assortment
    of attribute-based layout options based on the flexbox layout model.
    Included are intuitive attribute based styles that ease the creation of
    responsive row and/or column based page layouts.
  </p>

  <p>
    Angular Material's responsive CSS layout is built
    on <a href="http://www.w3.org/TR/css3-flexbox/" target=_blank>flexbox.</a>
    The layout system is based upon element attributes rather than CSS classes. Attributes provide an easy way to
    set a value (eg <code>layout="row"</code>) and help separate concerns:
    attributes define layout, and classes define styling.
  </p>
    
</rx-page>
