<rx-page title="'Lists'">
  <ul class="list">
    <li>
      Lists by default do not have styles. You can add
      bullets/decimals to lists with the <code>.list</code> class.
      It is also possible to build non-semantic lists using the
      additional <code>.item</code> class.
    </li>
    <li>
      <span class="msg-info">ENCORE-SPECIFIC:</span>
      Use this in conjunction with icons, colors and helper classes
      such as <code>.flush-right</code> to build out action menus.
      Look at the detail pages in Cloud Servers and view-source
      for additional context.
    </li>
  </ul>
  <rx-example name="typography.lists"></rx-example>
</rx-page>
