
<rx-page title="'Tables'">
  <ul class="list">
    <li>
      Tables have default styles: regular rows have white backgrounds, while
      headers use white text with a gray background. An additional
      <code>.table-striped</code> class is available for alternate row striping.
    </li>
    <li>
      <span class="msg-info">ENCORE-SPECIFIC:</span> You can use tables to show
      data-table related details, such as listing of objects.
    </li>
    <li>
      If you need to show summary-style important pieces of metadata that aren't
      necessarily related to each other, consider using an
      <a href="#/components/rxMetadata">rxMetadata</a> component.
    </li>
    <li>
      In Support Services, some exceptions exist where it is appropriate to use
      different table styling. See the
      <a href="#/molecules/tables#non-data-tables">Non-Data based Tables</a>
      section for more information.
    </li>
  </ul>
  <rx-example name="table.basic"></rx-example>

</rx-page>

