<div class="rx-example">
  <section class="demo-wrapper" ng-include="markupUrl"></section>

  <tabset class="source-tabset">
    <tab heading="Markup">
      <div class="source-code-wrapper" ng-class="{ expanded: isExpanded('markup') }">
        <rx-prism language="markup" code-url="{{markupUrl}}"></rx-prism>
      </div>
      <a class="toggle-expand"
        ng-class="{expanded: isExpanded('markup')}"
        ng-show="canExpand('markup')"
        ng-click="toggleExpanded('markup')">
        <i class="fa fa-fw fa-expand"></i>
        <i class="fa fa-fw fa-compress"></i>
        {{ isExpanded('markup') ? 'Collapse' : 'Expand' }} Snippet
      </a>
    </tab>

    <tab ng-if="hasSource('js')" heading="JavaScript">
      <div class="source-code-wrapper" ng-class="{ expanded: isExpanded('js') }">
        <rx-prism language="clike" code-url="{{javascriptUrl}}"></rx-prism>
      </div>
      <a class="toggle-expand"
        ng-class="{expanded: isExpanded('js')}"
        ng-show="canExpand('js')"
        ng-click="toggleExpanded('js')">
        <i class="fa fa-fw fa-expand"></i>
        <i class="fa fa-fw fa-compress"></i>
        {{ isExpanded('js') ? 'Collapse' : 'Expand' }} Snippet
      </a>
    </tab>

    <tab ng-if="hasSource('less')" heading="Less">
      <div class="source-code-wrapper" ng-class="{ expanded: isExpanded('less') }">
        <rx-prism language="css" code-url="{{lessUrl}}"></rx-prism>
      </div>
      <a class="toggle-expand"
        ng-class="{expanded: isExpanded('less')}"
        ng-show="canExpand('less')"
        ng-click="toggleExpanded('less')">
        <i class="fa fa-fw fa-expand"></i>
        <i class="fa fa-fw fa-compress"></i>
        {{ isExpanded('js') ? 'Collapse' : 'Expand' }} Snippet
      </a>
    </tab>
  </tabset>
</div>
