<div class="rxDatePicker wrapper">
  <div class="control" ng-click="toggleCalendar()">
    <time class="displayValue" datetime="{{selected}}">
      {{displayValue}}
    </time>
    <i class="icon fa fa-fw fa-calendar"></i>
  </div>

  <div class="popup" ng-show="calendarVisible">
    <nav>
      <span
        class="arrow prev fa fa-lg fa-angle-double-left"
        ng-click="navigate('prevMonth')">
      </span>

      <span class="month-wrapper">
        <select
          rx-select
          class="month"
          ng-model="currentMonth"
          ng-selected="{{month = currentMonth}}">

          <option value="01">Jan</option>
          <option value="02">Feb</option>
          <option value="03">Mar</option>
          <option value="04">Apr</option>
          <option value="05">May</option>
          <option value="06">Jun</option>
          <option value="07">Jul</option>
          <option value="08">Aug</option>
          <option value="09">Sep</option>
          <option value="10">Oct</option>
          <option value="11">Nov</option>
          <option value="12">Dec</option>
        </select>
      </span>

      <span class="year-wrapper">
        <select
          rx-select
          class="year"
          ng-model="currentYear"
          ng-selected="{{year = currentYear}}">

          <option ng-repeat="year in calendarYears">
            {{year}}
          </option>
        </select>
      </span>

      <span
        class="arrow next fa fa-lg fa-angle-double-right"
        ng-click="navigate('nextMonth')">
      </span>
    </nav>

    <div class="calendar">
      <header>
        <h6>S</h6>
        <h6>M</h6>
        <h6>T</h6>
        <h6>W</h6>
        <h6>T</h6>
        <h6>F</h6>
        <h6>S</h6>
      </header>

      <div class="day {{ isMonth(day) ? 'inMonth' : 'outOfMonth' }}"
        data-date="{{day.format('YYYY-MM-DD')}}"
        ng-class="{ today: isToday(day), selected: isSelected(day) }"
        ng-repeat="day in calendarDays"
        ng-switch="isMonth(day)">

        <span class="circle"
          ng-switch-when="true"
          ng-click="selectDate(day)">

          {{ day.date() }}
        </span>

        <span ng-switch-when="false">
          {{ day.date() }}
        </span>
      </div>
    </div>
  </div>
</div>
